

.my-example{
    color: white;
}

.navbar{
    background-color: #cb2a1d;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
}

.nav-link{
    color: white;
    margin: 20px;
}

h2{
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
    color: #cb2a1d;
    margin-top: 58px;
    display:  inline-block;
}

h5{
    font-family: 'Luckiest Guy', cursive;
    font-size: 3em;
}

.dropdown-item{
    font-size: 20px;
    color: #cb2a1d;
}

.nav-link:hover{
    color: black;
}

h6{
    color: white;
}

.page-footer{
    color: white;
}

a{
    color: white;
}

.item-title{
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    margin-right: 15px;
    margin-left: 15px;
}

.item-price{
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    color: #cb2a1d;
}

.otgs{
    font-size: 25px;
    font-family: 'Luckiest Guy', cursive;
    color: #f4b691;
    margin: 30px;
}

.otgs-p{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.otgs-bg{
    background-image: url(assets/brush_watercolor_orange.jpeg);
    text-align: center;
    height: 118px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.parent {
    width: 100%;
    padding: 10px;
    height: 250px;
    display: inline-block;
}

.child {
    margin: auto;
    height: 100%;
    width: 211px;
    background-size: contain;
}

.cow{
    width: 100%;
    margin-top: 20px;
}

/* See more button */
.sm-btn {
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    width: 160px;
    color: white;
    display: block;
    border-radius: 100px;
    background-color: #cb2a1d;
}

/* Several different images */
.bg-one {
    background-image: url(assets/New1.png);
}
.bg-two {
    background-image: url(assets/New2.png);
}
.bg-three {
    background-image: url(assets/New3.png);
}
/* End */

/* Our Story */
.header-blog .container {
	position: relative;
	height: 100%;
  }

.header-blog {
    background-image: url("assets/our_story.jpg");
    opacity: 90%;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-animation {
    -webkit-animation: bg-animation 25s ease-in-out infinite;
    animation: bg-animation 25s ease-in-out infinite;
}

.blog-top{
    display:block;
}

.header-blog .container {
    position: relative;
    height: 100%;
}

.header-row {
    height: 100%;
}

/*****animated text start*****/
h4{
    font-family: 'Luckiest Guy', cursive;
    position: absolute;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    letter-spacing: 4px;
    color: transparent;
    font-size: 1.8em;
}

h4:before{
    content: attr(data-text);
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #cb2a1d;
    overflow: hidden;
    border-right: 1px solid #FFF;
    animation: type 10s steps(8) infinite;
    white-space: nowrap;
}

@keyframes type {

    0%{
        width:0%;
    }

    50%{
        width:100%;
    }

    100%{
        width:0%;
    }

}
/*****animated text End*****/

@-webkit-keyframes bg-animation {
    0% {
        background-position: top;
    }

    50% {
        background-position: bottom;
    }
    100% {
        background-position: top;
    }
}

@keyframes bg-animation {
    0% {
        background-position: top;
    }

    50% {
        background-position: bottom;
    }
    100% {
        background-position: top;
    }
}
/* End */

.featurette-heading{
    color: #f4b691;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
}

.lead{
    font-family: 'Abel', sans-serif;
    font-size: 19px;
}

@media(min-width:768px){
    h2{
        font-family: 'Luckiest Guy', cursive;
        font-size: 4em;
        color: #cb2a1d;
        margin-top: 206px;
        display:  inline-block;
    }

    .otgs-bg{
        height: 400px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .item-title{
        font-family: 'Abel', sans-serif;
        font-size: 1.5em;
    }
    
    .item-price{
        font-family: 'Abel', sans-serif;
        font-size: 2em;
        color: #cb2a1d;
    }

    .otgs{
        font-size: 3em;
        font-family: 'Luckiest Guy', cursive;
        color: #f4b691;
    }

    .otgs-p{
        font-family: 'Abel', sans-serif;
        font-size: 1.5em;
    }

    .cow{
        margin-top: 50px;
        margin-bottom: 80px;
    }

    /* See more button */
    .sm-btn {
        font-family: 'Abel', sans-serif;
        letter-spacing: 1px;
        font-size: 20px;
        width: 250px;
        color: white;
        display: block;
        border-radius: 100px;
        background-color: #cb2a1d;
    }

    /* Image zoom on hover + Overlay colour */
    .parent {
        width: 100%;
        padding: 10px;
        height: 400px;
        overflow: hidden;
        position: relative;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }

    .child {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    .parent:hover .child, .parent:focus .child {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    .parent:hover .child:before, .parent:focus .child:before {
        display: block;
    }

    .child:before {
        content: "";
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    /* End */

    /* Several different images */
    .bg-one {
        background-image: url(assets/New1.png);
    }
    .bg-two {
        background-image: url(assets/New2.png);
    }
    .bg-three {
        background-image: url(assets/New3.png);
    }
    /* End */

    /* Our Story */
    .header-blog .container {
        position: relative;
        height: 100%;
    }

    .header-blog {
        background-image: url("assets/our_story.jpg");
        opacity: 90%;
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bg-animation {
        -webkit-animation: bg-animation 25s ease-in-out infinite;
        animation: bg-animation 25s ease-in-out infinite;
    }

    .blog-top{
        display:block;
    }

    .header-blog .container {
        position: relative;
        height: 100%;
    }

    .header-row {
        height: 100%;
    }

    /*****animated text start*****/
    h4{
        font-family: 'Luckiest Guy', cursive;
        position: absolute;
        text-transform: uppercase;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        letter-spacing: 4px;
        color: transparent;
        font-size: 5em;
    }

    h4:before{
        content: attr(data-text);
        position:absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        color: #cb2a1d;
        overflow: hidden;
        border-right: 1px solid #FFF;
        animation: type 10s steps(8) infinite;
        white-space: nowrap;
    }

    @keyframes type {

        0%{
            width:0%;
        }

        50%{
            width:100%;
        }

        100%{
            width:0%;
        }

    }
    /*****animated text End*****/

    @-webkit-keyframes bg-animation {
        0% {
            background-position: top;
        }

        50% {
            background-position: bottom;
        }
        100% {
            background-position: top;
        }
    }

    @keyframes bg-animation {
        0% {
            backgrousnd-position: top;
        }

        50% {
            background-position: bottom;
        }
        100% {
            background-position: top;
        }
    }
    /* End */

    .featurette-heading{
        color: #f4b691;
        font-family: 'Luckiest Guy', cursive;
        font-size: 3.5em;
    }
    
    .lead{
        font-family: 'Abel', sans-serif;
        font-size: 1.5em;
    }

}